/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 50px;
  margin-bottom: 60px;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 1em;
  background-color: #f5f5f5;
}

#messages {
  margin-top: 0px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 40px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.buzzInBox {
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  width: 200px;
  border: 2px solid #000000;
}

@keyframes  random {
    15% { background-color: red; }
    30% { background-color: yellow; }
    45% { background-color: green; }
    60% { background-color: blue; }
    75% { background-color: white; }
}

.currentContestant {
  -webkit-animation: random 5s infinite;
  animation: random 5s infinite;



  /*background: black;*/
  /*color: lightgreen;
  text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #ff00de,
                   0 0 70px #ff00de,
                   0 0 80px #ff00de,
                   0 0 100px #ff00de,
                   0 0 150px #ff00de;*/
}
